:root {
  --color-primary: #103d97;
  --color-background: #f9f8fc;
  --color-selected: #3259a3;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #8e8e93;
  --color-light-gray: #e5e5ea;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.header {
  background-color: var(--color-primary);
  height: 9.4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header:first-child {
  padding-left: 5vw;
}

.header:last-child {
  padding-right: 5vw;
}

.main-nav {
  height: 100%;
}

.main-nav__list {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-nav__link {
  text-decoration: none;
  margin: 0 1.5rem;
}

.main-nav__link:link,
.main-nav__link:visited {
  color: var(--color-white);
}

.main-nav__link--selected:link,
.main-nav__link--selected:visited {
  color: var(--color-selected);
}

.round-picture {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.round-picture--large {
  height: 6rem;
  width: 6rem;
}

.current-user {
  display: flex;
  margin-right: 5vw;
  font-weight: 400;
  font-size: 1.5rem;
}

.current-user__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.current-user__name {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-white);
}

.current-user__balance {
  display: flex;
  align-items: center;
  height: 2.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.current-user__gs {
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  border-radius: 1.25rem 0 0 1.25rem;
  background-color: var(--color-background);
}

.current-user__gs-number {
  margin-right: 0.3rem;
}

.current-user__currency {
  height: 100%;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  border-radius: 0 1.25rem 1.25rem 0;
  background-color: var(--color-background);
  border-left: 1px solid var(--color-primary);
}

.tabs {
  margin: 0 6rem;
}

.tabs__header {
  margin: 3rem 0;
  display: flex;
  align-items: center;
}

.tabs__heading {
  font-size: 3.5rem;
  font-weight: 300;
  margin-right: auto;
}

.tabs__nav {
  display: flex;
}

.tabs__list {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.tabs__link {
  text-decoration: none;
  padding: 0 1.5rem;
  background-color: var(--color-background);
  display: block;
  height: 4rem;
  width: 11.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__link--first {
  border-radius: 1.25rem 0 0 1.25rem;
}

.tabs__link--last {
  border-radius: 0 1.25rem 1.25rem 0;
}

.tabs__link:link,
.tabs__link:visited {
  color: var(--color-gray);
}

.tabs__link--selected {
  background-color: var(--color-primary);
}

.tabs__link--selected:link,
.tabs__link--selected:visited {
  color: var(--color-white);
}

.tabs__section {
  display: flex;
  flex-direction: column;
}

.tabs__section-name {
  padding-left: 1.4rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  height: 3rem;
  color: var(--color-gray);
  background-color: var(--color-background);
}

.meeting__list {
  list-style-type: none;
}

.meeting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meeting__item {
  padding: 2rem 0;
}

.meeting__item:not(:last-child) {
  border-bottom: 1px solid var(--color-light-gray);
}

.meeting__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
  width: 10vw;
}

.meeting__details > :not(:first-child):not(:last-child) {
  margin: 0 3rem;
}

.meeting__type {
  font-size: 1.5rem;
  font-weight: 400;
}

.meeting__country-pic {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 0 3rem;
}

.date {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  width: 15vw;
}

.date__column {
  display: flex;
  flex-direction: column;
}

.date__day {
  font-size: 5rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.user-info__pics {
  display: flex;
  margin-right: 1rem;
}

.user-info__pics > :not(:first-child) {
  margin-left: -2rem;
}

.user-info__pic {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.user-info__column {
  display: flex;
  flex-direction: column;
}

.user-info__name {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
}

.user-info__about {
  color: var(--color-black);
  font-size: 1.3rem;
  font-weight: 400;
}

.kebab-menu__icon {
  background: var(--color-black);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: relative;
}

.kebab-menu__icon::after {
  content: "";
  background: var(--color-black);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  bottom: 6px;
}

.kebab-menu__icon::before {
  content: "";
  background: var(--color-black);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
}

.footer {
  padding: 6rem;
  display: flex;
  background-color: var(--color-background);
  align-items: flex-start;
  justify-content: space-between;
}

.footer-list {
  list-style-type: none;
  margin-right: 20rem;
}

.footer-list__link {
  text-decoration: none;
}

.footer-list__link:link,
.footer-list__link:visited {
  color: var(--color-black);
}

.footer-mobile-ad__text {
  color: var(--color-gray);
  width: 20rem;
}

.footer-mobile-ad__links {
  display: flex;
}

.footer-socmedia__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 10rem;
}
