:root {
  --color-primary: #103d97;
  --color-background: #f9f8fc;
  --color-selected: #3259a3;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #8e8e93;
  --color-light-gray: #e5e5ea;
  --color-red: #ff3b30;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.header {
  background-color: var(--color-primary);
  height: 9.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding-left: 5vw;
}
.main-nav {
  height: 100%;
  width: 40vw;
  margin-right: 6.5vw;
}

.main-nav__list {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.6rem;
}

.main-nav__link {
  text-decoration: none;
}

.main-nav__link:link,
.main-nav__link:visited {
  color: var(--color-white);
}

.main-nav__link--selected:link,
.main-nav__link--selected:visited {
  color: var(--color-selected);
}

.round-picture {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.round-picture--combined {
  background-color: var(--color-white);
  position: relative;
}

.round-picture--combined > :only-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 62.5em) {
  .round-picture--resizable {
    height: 3rem;
    width: 3rem;
  }
}

.current-user {
  display: flex;
  margin-right: 4.3vw;
  font-weight: 400;
  font-size: 1.5rem;
}

.current-user__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.current-user__name {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-white);
}

.current-user__balance {
  display: flex;
  align-items: center;
  height: 2.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.current-user__gs {
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  border-radius: 1.25rem 0 0 1.25rem;
  background-color: var(--color-background);
}

.current-user__gs-number {
  margin-right: 0.3rem;
}

.current-user__currency {
  height: 100%;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  border-radius: 0 1.25rem 1.25rem 0;
  background-color: var(--color-background);
  border-left: 1px solid var(--color-gray);
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 62.5em) {
  .hamburger {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 6rem;
    height: 6rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger:hover {
    color: var(--color-selected);
  }
  .hamburger__body,
  .hamburger__body::before,
  .hamburger__body::after {
    width: 3rem;
    height: 2px;
    background-color: var(--color-white);
    display: block;
    position: absolute;
  }

  .hamburger__body::before,
  .hamburger__body::after {
    content: "";
    position: absolute;
    transition: all 0.1s;
  }

  .hamburger__body::before {
    top: -1rem;
  }

  .hamburger__body::after {
    top: 1rem;
  }

  .hamburger__body--open {
    background-color: transparent;
  }

  .hamburger__body--open::before {
    top: 0;
    transform: rotate(135deg);
  }

  .hamburger__body--open::after {
    top: 0;
    transform: rotate(-135deg);
  }

  .current-user {
    display: none;
  }

  .main-nav {
    display: none;
    order: 2;
    flex: 1 1 100%;
    margin: 0;
    background-color: var(--color-primary);
    z-index: 2;
  }

  .header--mobile {
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
  }

  .header--mobile > .header__logo {
    margin-top: 2.2rem;
  }

  .header--mobile > .current-user {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    margin: 0 auto;
    background-color: var(--color-primary);
    z-index: 2;
    padding: 2rem;
  }

  .header--mobile > .main-nav {
    display: block;
  }

  .main-nav__item {
    padding: 2rem;
  }

  .main-nav__list {
    font-size: 2rem;
    flex-direction: column;
    height: auto;
  }
}

.tabs {
  margin: 0 4.5rem 0 6rem;
}

.tabs__header {
  margin: 4rem 0;
  display: flex;
  align-items: center;
}

.tabs__heading {
  font-size: 3.5rem;
  font-weight: 300;
  margin-right: auto;
}

.tabs__nav {
  display: flex;
}

.tabs__list {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.tabs__link {
  text-decoration: none;
  padding: 0 1.5rem;
  background-color: var(--color-background);
  display: block;
  height: 4rem;
  width: 11.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__link--first {
  border-radius: 1.25rem 0 0 1.25rem;
}

.tabs__link--last {
  border-radius: 0 1.25rem 1.25rem 0;
}

.tabs__link:link,
.tabs__link:visited {
  color: var(--color-gray);
}

.tabs__link--selected {
  background-color: var(--color-primary);
}

.tabs__link--selected:link,
.tabs__link--selected:visited {
  color: var(--color-white);
}

.tabs__article {
  display: flex;
  flex-direction: column;
}

.tabs__article {
  margin-bottom: 4rem;
}

.tabs__article-name {
  padding-left: 1.4rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  height: 3rem;
  color: var(--color-gray);
  background-color: var(--color-background);
}

.meeting__list {
  list-style-type: none;
}

.meeting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 62.5em) {
  .meeting {
    flex-wrap: wrap;
  }
  .user-info {
    order: 3;
    flex: 1 1 100%;
  }
}

.meeting__item {
  padding: 3.2rem 0;
}

.meeting__item {
  border-bottom: 1px solid var(--color-light-gray);
}

.meeting__item--no-border {
  border-bottom: none;
}

.meeting__item--last {
  margin-bottom: 6rem;
}

.meeting__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.meeting > :first-child {
  margin-right: 1rem;
}

.meeting__details {
  margin-right: 2.2rem;
}

.meeting__details > :not(:first-child):not(:last-child) {
  margin: 0 0.8rem 0 2.4rem;
}

.meeting__type {
  font-size: 1.5rem;
  font-weight: 400;
}

.date {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
}

.date--red {
  color: var(--color-red);
}

.date__column {
  display: flex;
  flex-direction: column;
  overflow-wrap: none;
}

.date__day {
  font-size: 5rem;
  font-weight: 500;
  margin-right: 0.7rem;
}

.date__reconciliation {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -1.8rem;
  left: 6rem;
}

.date__reconciliation-text {
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 0.7rem;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.user-info__pics {
  display: flex;
  margin-right: 1.5rem;
}

.user-info__pics > :not(:first-child) {
  margin-left: -2rem;
}

.user-info__pic {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.user-info__column {
  display: flex;
  flex-direction: column;
}

.user-info__name {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.user-info__name {
  color: var(--color-red);
}

.user-info__about {
  color: var(--color-black);
  font-size: 1.3rem;
  font-weight: 400;
}

.kebab-menu {
  position: relative;
  margin-top: 1rem;
}

.kebab-menu__icon {
  padding: 1.5rem;
  cursor: pointer;
}

.kebab-menu__list {
  list-style-type: none;
  display: none;
  position: absolute;
  right: 0;
  top: 4rem;
  width: 18rem;
  text-align: left;
  background-color: var(--color-white);
  z-index: 1;
}

.kebab-menu__list--active {
  display: inline-block;
}

.kebab-menu__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray);
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.kebab-menu__link:link,
.kebab-menu__link:visited {
  color: var(--color-black);
}

.kebab-menu__link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer {
  height: 30rem;
  padding: 6rem;
  display: flex;
  background-color: var(--color-background);
  align-items: flex-start;
  justify-content: space-between;
}

.footer-list {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 400;
  height: 9.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0.5rem;
  margin-right: 15rem;
}

.footer-list__link {
  text-decoration: none;
}

.footer-list__link:link,
.footer-list__link:visited {
  color: var(--color-black);
}

.footer-mobile-ad {
  margin-top: 1rem;
}

.footer-mobile-ad__text {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-gray);
  width: 25rem;
  margin-bottom: 1.6rem;
}

.footer-mobile-ad__links {
  display: flex;
  justify-content: space-between;
  width: 101%;
}

.footer-socmedia__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 10.5rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .footer {
    flex-wrap: wrap;
  }
}
